.home {
    margin: auto;
    background-color: white;
    box-shadow: var(--box-shadow);
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.home input {
    margin: 20px;
}