.nav {
    grid-area: nav;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 15px 0 rgba(0,0,0,0.2);
    padding-top: 10px;
}

.nav .accordion{
    width: 100%;
}

.nav .sub {
    display: flex;
    flex-direction: column;
}

.nav .link {
    display: block;
    color: #c1c1c1;
    text-decoration: none;
    margin-bottom: 8px;
    padding: 4px 20px;
    user-select: none; 
   -webkit-user-select: none; 
   -khtml-user-select: none; 
   -moz-user-select: none; 
   -ms-user-select: none; 
}

.nav .sub-link {
    padding: 4px 0px 4px 35px;
}

.nav .active, .nav .link:hover {
    color: #ffffff;
    background-color: var(--accent-color);
}